{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara
SPDX-FileCopyrightText: 2026 shukon

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if librebooking_container_labels_traefik_enabled %}
traefik.enable=true

{% if librebooking_container_labels_traefik_docker_network %}
traefik.docker.network={{ librebooking_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if librebooking_container_labels_traefik_redirect_root_to_web_enabled %}
traefik.http.middlewares.{{ librebooking_identifier }}-redirect-root.redirectregex.regex=^(https?://[^/?#]*{{ librebooking_container_labels_traefik_path_prefix if librebooking_container_labels_traefik_path_prefix != '/' else '' }})/?$
traefik.http.middlewares.{{ librebooking_identifier }}-redirect-root.redirectregex.replacement=${1}/Web/
{% set middlewares = middlewares + [librebooking_identifier + '-redirect-root'] %}
{% endif %}

{% if librebooking_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ librebooking_identifier }}-slashless-redirect.redirectregex.regex=^({{ librebooking_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ librebooking_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [librebooking_identifier + '-slashless-redirect'] %}
{% endif %}

{% if librebooking_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ librebooking_identifier }}-strip-prefix.stripprefix.prefixes={{ librebooking_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [librebooking_identifier + '-strip-prefix'] %}
{% endif %}

{% if librebooking_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in librebooking_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ librebooking_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [librebooking_identifier + '-add-request-headers'] %}
{% endif %}

{% if librebooking_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in librebooking_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ librebooking_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [librebooking_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ librebooking_identifier }}.rule={{ librebooking_container_labels_traefik_rule }}
{% if librebooking_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ librebooking_identifier }}.priority={{ librebooking_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ librebooking_identifier }}.service={{ librebooking_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ librebooking_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ librebooking_identifier }}.entrypoints={{ librebooking_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ librebooking_identifier }}.tls={{ librebooking_container_labels_traefik_tls | to_json }}
{% if librebooking_container_labels_traefik_tls %}
traefik.http.routers.{{ librebooking_identifier }}.tls.certResolver={{ librebooking_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ librebooking_identifier }}.loadbalancer.server.port={{ librebooking_container_http_port }}
{% endif %}

{% for arg in librebooking_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
